In [ ]:
from pandas import Series,DataFrame 
# Series data가 모여서 Dataframe을 구성
import pandas as pd
import numpy as np

In [ ]:
raw_data = {'first_name' : ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'], 
           'last_name' : ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze'],
           'age' : [42, 52, 36, 24, 73],
           'city' : ['San Francisco', 'Baltmore', 'Miami', 'Douglas', 'Boston']}
df = pd.DataFrame(raw_data, columns = ['first_name', 'last_name', 'age', 'city'])
df

In [ ]:
DataFrame(raw_data, columns = ['age', 'city'])

In [ ]:
# 새로운 column 추가
DataFrame(raw_data, columns = ['first_name', 'last_name', 'age', 'city', 'debt'])

In [ ]:
df = DataFrame(raw_data, columns = ['first_name', 'last_name', 'age', 'city', 'debt'])
print(df.first_name)
print(df['first_name'])

In [ ]:
print(df)
print(df.loc[1]) # location
print(df['age'].iloc[1:]) # index location

In [ ]:
s = pd.Series(np.nan, index = [49, 48, 47, 46, 45, 1, 2, 3, 4, 5])
print(s)
print(s.loc[:3]) # index값이 3인 data까지 출력
print(s.iloc[:3]) # 0 - 2번째까지의 index값 출력

In [ ]:
df.debt = df.age > 40
df

In [ ]:
df.T # Transpose

In [ ]:
df.values

In [ ]:
df.to_csv()

In [ ]:
del df['debt']
df

In [ ]:
df.drop(0)

In [ ]:
print(df) # data를 drop하더라도 원본 data는 변하지 않음
df.drop(0, inplace = True) # 원본 data를 변화시키기 위해서는 inplace = True를 추가
print(df)

In [ ]:
df1 = DataFrame(np.arange(9).reshape(3, 3),
               columns = list('abc'))
print(df1)
df2 = DataFrame(np.arange(16).reshape(4, 4),
               columns = list('abcd'))
print(df2)

In [ ]:
df1 + df2

In [ ]:
df1.add(df2, fill_value = 0) # NaN값을 0으로 변환

In [ ]:
s1 = Series(np.arange(10, 14))
df2 + s1

In [ ]:
df2.add(s1, axis = 0) # broadcasting 실행