In [ ]:
items = 'zero one two three '.split()
print(items)
example = 'python, java, javascript'
example.split(",")
example = "teamlab. technology. io"
subdomain, domain, tld = example.split(".")
print(subdomain, domain, tld)

In [ ]:
colors = ['red', 'green', 'blue', 'yellow']
"-".join(colors)

In [ ]:
colors = ['red', 'green', 'blue', 'yellow']
", ".join(colors)

In [ ]:
result = [i for i in range(10)]
print(result)
result = [i for i in range(10) if i % 2 == 0]
print(result)

In [ ]:
word_1 = "Hello"
word_2 = "World"
result = [i + j for i in word_1 for j in word_2]
print(result)

In [ ]:
import pprint

In [ ]:
case_1 = ['A', 'B', 'C']
case_2 = ['D', 'E', 'A']
result = [i + j for i in case_1 for j in case_2 if not (i == j)]
print(result)
result.sort()
print(result)
pprint.pprint(result)

In [ ]:
words = "The quick brown fox jumps over the lazy dog".split()
print(words)
stuff = [[w.upper(), w.lower(), len(w)] for w in words]
print(stuff)
pprint.pprint([[w.upper(), w.lower(), len(w)] for w in words])

In [ ]:
case_1 = ['a', 'b', 'c']
case_2 = ['d', 'e', 'f']
result = [i + j for i in case_1 for j in case_2]
print(result)
result = [[i + j for i in case_1] for j in case_2]
print(result)

In [ ]:
for i, v in enumerate(['tic', 'tac', 'tok']) :
    print(i, v)
my_list = "ABCD"
{i : v for i, v in enumerate(my_list)}

In [ ]:
alist = ['a1', 'a2', 'a3']
blist = ['b1', 'b2', 'b3']
[[a, b] for a, b in zip(alist, blist)]

In [ ]:
math = (100, 90, 80)
kor = (90, 90, 70)
eng = (90, 80, 70)
[sum(value) / 3 for value in zip(math, kor, eng)]

In [ ]:
alist = ['a1', 'a2', 'a3']
blist = ['b1', 'b2', 'b3']
for i, values in enumerate(zip(alist, blist)) :
    print(i, values)
list(enumerate(list(zip(alist, blist))))

In [ ]:
def f(x, y) :
    return x + y
print(f(1, 4))

In [ ]:
f = (lambda x ,y : x + y)
f(1, 4)
(lambda x ,y : x + y)(10, 50)

In [ ]:
up_low = lambda x : x.upper() + x.lower()
up_low('a')
up_low = lambda x : "-".join(x.split())
up_low("My Happy Birthday")

In [ ]:
ex = [1, 2, 3, 4, 5]
f = lambda x : x ** 2 if x % 2 == 0 else x
list(map(f, ex))

In [ ]:
from functools import reduce
reduce(lambda x, y : x + y, [1, 2, 3, 4, 5])

In [43]:
def print_s(my_name, your_name) :
    print("Hello {0}, My name is {1}." .format(your_name, my_name))
print_s("a", "b")
print_s(your_name = 'a', my_name = 'b')

Hello b, My name is a.
Hello a, My name is b.

In [45]:
def print_s(my_name, your_name = 'b') :
    print("Hello {0}, My name is {1}." .format(your_name, my_name))
print_s('a')
print_s('a', 'c')

Hello b, My name is a.
Hello c, My name is a.

In [47]:
def asterisk_test(a, b, *args) :
    print(list(args))
    print(type(args))
    return a + b + sum(args)
asterisk_test(1, 2, 3, 4, 5)

[3, 4, 5]
<class 'tuple'>

15

In [49]:
def asterisk_test(*args) :
    x, y, z = args
    return x, y, z
asterisk_test(1, 2, 3)

(1, 2, 3)

In [56]:
def kwargs_test(**kwargs) : 
    print(kwargs)
    print(type(kwargs))
kwargs_test(first = 3, second = 4, third = 5)

def kwargs_test2(one, two = 2, *args, **kwargs) :
    print(one + two + sum(args))
    print(kwargs)
kwargs_test2(1, 2, 3, 4, 5, first = 6, second = 7, third = 8)

{'first': 3, 'second': 4, 'third': 5}
<class 'dict'>
15
{'first': 6, 'second': 7, 'third': 8}

In [57]:
def asterisk_test(a, *args) :
    print(a, *args)
    print(a, args)
    print(type(args))
test = (2, 3, 4, 5, 6)
asterisk_test(1, *test)

1 2 3 4 5 6
1 (2, 3, 4, 5, 6)
<class 'tuple'>

In [60]:
print(*[1, 2, 3, 4, 5])
print([1, 2, 3, 4, 5])
a, b, c = ([1, 2], [3, 4], [5, 6])
print(a, b, c)
data = ([1, 2], [3, 4], [5, 6])
print(*data)

1 2 3 4 5
[1, 2, 3, 4, 5]
[1, 2] [3, 4] [5, 6]
[1, 2] [3, 4] [5, 6]

In [ ]:
ex = ([1, 2], [3, 4], [5, 6])
for i in zip(ex) :
    print(i)
for i in zip(*ex) :
    print(i)