In [ ]:
class Person(object) :
    def __init__(self, name, age) :
        self.name = name
        self.age = age
    def __str__(self) :
        return "제 이름은 {0}입니다. 나이는 {1}세 입니다." .format \
    (self.name, self.age)

In [ ]:
class Korean(Person) :
    pass

In [ ]:
first_korean = Korean("홍길동", 25)
print(first_korean)

In [ ]:
class Person_2 :
    def __init__(self, name, age, gender) :
        self.name = name
        self.age = age
        self.gender = gender
    
    def about_me(self) :
        print("제 이름은 %s이고, 제 나이는 %d세 입니다." % \
             (self.name, self.age))
        
    def __str__(self) :
        return "제 이름은 %s이고, 제 성별은 %s입니다." % \
    (self.name, self.gender)

In [ ]:
class Employee(Person_2) :
    def __init__(self, name, age, gender, salary, hire_date) :
        super().__init__(name, age, gender)
        self.salary = salary
        self.hire_date = hire_date
        
    def do_work(self) :
        print("열심히 일을 합니다.")
    
    def about_me(self) :
        super().about_me()
        print("제 급여는 %d원 이고, 제 입사일은 %s입니다." % \
              (self.salary, self.hire_date))

In [ ]:
myPerson = Person_2("John", 34, "남자")
myEmployee = Employee("Peter", 34, "남자", 300000, "2021년 12월 30일")
myEmployee.about_me()